# Directories.
datasets/__pycache__/
deployment/__pycache__/
nets/__pycache__/
preprocessing/__pycache__/

notebooks/.ipynb_checkpoints/
ssd-tensorflow.sublime-workspace
ssd-tensorflow.sublime-project

checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
checkpoints/ssd_300_vgg.ckpt.index

logs/
.ipynb_checkpoints/
__pycache__/

*.log

checkpoints/VGG_VOC0712_SSD_*
checkpoints/vgg_16.ckpt
/my_own_data_set/
/checkpoints/model.ckpt-12.index
/checkpoints/model.ckpt-12.data-00000-of-00001
/custom_demo_images.tar.gz
/venv/


.idea/
*.pyc